body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFC26F;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
}
h1,h2,h3{
    color: #C38154;
}
h1,h2{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    padding: 60px;
    background-color:#F9E0BB;
    color: #C38154;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}
.jumbotron .logo{
    width: 300px;
}
.jumbotron p{
    font-size: 1rem;
    text-align: justify;
}

/* Nav */
nav{
    background-color: #F9E0BB;
    display: flex;
    width: 100%;
    margin-inline: auto;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 0.5rem;
    z-index: 999;
    position: fixed;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);

}
.nav-links{
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
    list-style: none;
    

}
nav .nav-links li a{
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: #C38154;
    padding: .5rem 1.5rem;
    border-radius: 99px;
    transition: all .2s ease-in-out;
}
nav .nav-links li a:hover{
    background-color: #C38154;
    color: white;
}

.hamburger-menu{
    display: none;
    cursor: pointer;
}
.hamburger-menu img{
    border-radius: 6px;
    width: 25px;
    padding: 4px 8px 4px 8px; 
    border: #C38154 1px solid;
    /* background-color: aqua; */
}
.hamburger-menu img:active{
    /* background-color: #C38154; */
    outline: 4px #C38154 solid;
}



main{
    padding: 20px;
    display: flex;
    gap: 1.5rem;
    
}

.content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}
.content p{
    text-align: justify;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    background-color: #F9E0BB;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

aside {
    flex: 1;
}
.profile{
    text-align: center;
}
.penulis{
    margin-inline: auto;
    width: 150px;
    height: 150px;
    background-color: #C38154;
    box-shadow: 0  0 5px 0 rgb(255, 255, 255);
}
.penulis img{
    width: 150px;
    
}
.penulis,.penulis img{
    border-radius: 50%;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.media-img{
    width: 1.5rem;
}
.wa{
    width: 2.1rem;
    margin-top: -0.3rem;
}




footer {
    padding: 20px;
    background-color: #F9E0BB;
    text-align: center;
    font-weight: bold;
    color: #C38154;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }


/* media */

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }
    main aside {
        align-self: center;
    }
    .media-img{
        width: 2rem;
    }
    .wa{
        width: 3rem;
    }
    aside p{
        text-align: justify;
    }
}
@media screen and (max-width:992px){
    nav{
        justify-content: flex-end;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 38.5px;
        right: 0px;
        flex-direction: column;
        gap: 5rem;
        padding: 20px 20px 40px 20px;
        box-shadow: -1px 0 4px 0px rgba(0, 0, 0, 0.2);
        background-color: #F9E0BB;
    }
    
    .nav-links.active{
        display: flex;
    }

    nav .nav-links li{
        margin-top: 20px;
    }
    .hamburger-menu{
        display: block;
        margin-right: 53px;
    }
}

/* ukuran mobile */
@media screen and (max-width:576px){
    .nav-links{
        padding-bottom: 90px;
    }
}